// default style
$body-bg:#efefef;
$color__text :#333333;
$color__white: #fff;
$header-bg:#5882B2;
$form_control:#375E89;
$sidebar_active:#375E89;
$sidebar_befault:#fAfAfA;
$sidebar_status:#7EB4F0;
$not_paid:#FC6B6E;
$details_sidebar_title:#567395;
$details_notifications:#FC6B6E;
$color_tabs-active:#4F749E;
$color_tabs:#646464;
$thead-bg:#EAEAEA;
$thead-text:#394656;






