<div class="panel-right panel__tabs-content ">

    <ul class="nav nav-tabs nav__tabs_content ">
        <li class="active item__tabs_content">
            <a class="btn__item_tabs" data-toggle="tab" href="#panel1">
                <i class="fa fa-cube" aria-hidden="true"></i>
                Информация о грузе
            </a>
        </li>
        <li class="item__tabs_content">
            <a class="btn__item_tabs" data-toggle="tab" href="#panel2">
                <i class="font-icon icon-ok" aria-hidden="true"></i>
                Выполнение заявки
            </a>
        </li>
        <li class="item__tabs_content">
            <a class="btn__item_tabs"  data-toggle="tab" href="#panel3">
                <i class="fa fa-usd money" aria-hidden="true"></i>
                Оплата и счета
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="panel1" class="tab-pane fade in active">

            <div class="tab-pane_cart dropdown__pane_cart">

                <h3 class="title__pane_cart">Погрузка 1</h3>

                <a  class="btn btn-default btn__open_panel" data-toggle="dropdown">
                    <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
                </a>

                <div class="content__pane_cart dropdown-content">

                    <div class="item__cart address__card ">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="name__address td_address">Адрес погрузки:</td>
                                <td class="exact__address">ул. Соборная 4, Винница <i class="fa fa-map-marker" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td class="name__address td_address">План.дата погрузки:</td>
                                <td class="exact__address">26.08.15 15:00</td>
                            </tr>
                            <tr>
                                <td class="name__address td_address">Грузоотправитель:</td>
                                <td class="exact__address">ТОВ "Вiнпроммаш"</td>
                            </tr>
                            <tr>
                                <td class="name__address td_address">Контактное лицо:</td>
                                <td class="exact__address">Данилекно Н.Д</td>
                            </tr>
                            <tr>
                                <td class="name__address td_address">Телефон:</td>
                                <td class="exact__address">+38 (097) 112 98 14</td>
                            </tr>

                            <tr>
                                <td class="name__address td_address">Предоставление документов:</td>
                                <td class="exact__address"><b>Грузополучатель:</b> CRR/TTH Инвойс</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="item__cart description__card ">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Описание груза <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                                <th>Особенности</th>
                                <th>Упаковка</th>
                                <th>Вес(кг)</th>
                                <th>Обьем(м3)</th>
                                <th>Погрузка</th>
                                <th>Погрузено.кол</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Мешки цемента</td>
                                <td>грязные</td>
                                <td>мешок без палеты</td>
                                <td>1000</td>
                                <td>0.95</td>
                                <td>Задняя</td>
                                <td>50</td>
                            </tr>
                            <tr class="tr__description">
                                <td>Крановые блоки</td>
                                <td>опасный
                                    <br/>
                                    <span>(Класс q)</span>
                                    <br/>
                                    ценный
                                    <br/>
                                    <span>(5000 EUR)</span>
                                    <br/>
                                    негабарит
                                    <br/>
                                    <span>(H=2 W=1 L=15)</span>
                                </td>
                                <td>не упакован
                                    <br/>
                                    Fin-пакет
                                </td>
                                <td>5000</td>
                                <td>2.8</td>
                                <td>Верхняя</td>
                                <td>12</td>
                            </tr>
                            <tr class="sum__description">
                                <td><td>
                                <td></td>
                                <td class="td__sum_active"> <i class="icon__kilogram"></i>Всего : 6000 кг</td>
                                <td class="td__sum_active">3.75 м3</td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

            <div class="tab-pane_cart dropdown__pane_cart">
                    <h3 class="title__pane_cart">Погрузка 2</h3>
                    <a class="btn btn-default btn__open_panel" data-toggle="dropdown">
                        <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
                    </a>
                <div class="content__pane_cart dropdown-content">

                    <div class="item__cart address__card ">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="name__address td_address">Адрес погрузки:</td>
                                <td class="exact__address">ул. Соборная 4, Винница <i class="fa fa-map-marker" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td class="name__address td_address">План.дата погрузки:</td>
                                <td class="exact__address">26.08.15 15:00</td>
                            </tr>
                            <tr>
                                <td class="name__address td_address">Грузоотправитель:</td>
                                <td class="exact__address">ТОВ "Вiнпроммаш"</td>
                            </tr>
                            <tr>
                                <td class="name__address td_address">Предоставление документов:</td>
                                <td class="exact__address"><b>Грузополучатель:</b> CRR/TTH Инвойс</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="item__cart description__card ">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Описание груза <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                                <th>Особенности</th>
                                <th>Упаковка</th>
                                <th>Вес(кг)</th>
                                <th>Обьем(м3)</th>
                                <th>Погрузка</th>
                                <th>Погрузено.кол</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Нарезные стержни</td>
                                <td>-</td>
                                <td>коробка без палеты</td>
                                <td>400</td>
                                <td>2.25</td>
                                <td>Задняя</td>
                                <td>50</td>
                            </tr>

                            <tr class="sum__description">
                                <td><td>
                                <td></td>
                                <td class="td__sum_active"> <i class="icon__kilogram"></i>Всего : 6000 кг</td>
                                <td class="td__sum_active">3.75 м3</td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="tab-pane_cart dropdown__pane_cart">

                    <h3 class="title__pane_cart">Выгрузка 1</h3>
                    <a class="btn btn-default btn__open_panel" data-toggle="dropdown">
                        <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
                    </a>

                <div class="content__pane_cart dropdown-content">

                    <div class="item__cart address__card ">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="td_address">Адрес выгрузки:</td>
                                <td class="exact__address">ул. Соборная 4, Винница <i class="fa fa-map-marker" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td class="td_address">План.дата погрузки:</td>
                                <td class="exact__address">26.08.15 15:00</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="item__cart description__card ">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Описание груза <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                                <th>Особенности</th>
                                <th>Упаковка</th>
                                <th>Вес(кг)</th>
                                <th>Обьем(м3)</th>
                                <th>Погрузка</th>
                                <th>Погрузено.кол</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Мешки цемента</td>
                                <td>грязные</td>
                                <td>мешок без палеты</td>
                                <td>1000</td>
                                <td>0.95</td>
                                <td>Задняя</td>
                                <td>50</td>
                            </tr>
                            <tr class="tr__description">
                                <td>Крановые блоки</td>
                                <td>опасный
                                    <br/>
                                    <span>(Класс q)</span>
                                    <br/>
                                    ценный
                                    <br/>
                                    <span>(5000 EUR)</span>
                                    <br/>
                                    негабарит
                                    <br/>
                                    <span>(H=2 W=1 L=15)</span>
                                </td>
                                <td>не упакован
                                    <br/>
                                    Fin-пакет
                                </td>
                                <td>5000</td>
                                <td>2.8</td>
                                <td>Верхняя</td>
                                <td>12</td>
                            </tr>
                            <tr class="sum__description">
                                <td><td>
                                <td></td>
                                <td class="td__sum_active"> <i class="icon__kilogram"></i>Всего : 6000 кг</td>
                                <td class="td__sum_active">3.75 м3</td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="tab-pane_cart dropdown__pane_cart">

                <h3 class="title__pane_cart">Выгрузка 2</h3>
                <a class="btn btn-default btn__open_panel" data-toggle="dropdown">
                    <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
                </a>

                <div class="content__pane_cart dropdown-content">

                    <div class="item__cart address__card ">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="td_address">Адрес выгрузки:</td>
                                <td class="exact__address">ул. Соборная 4, Винница <i class="fa fa-map-marker" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td class="td_address">План.дата погрузки:</td>
                                <td class="exact__address">26.08.15 15:00</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="item__cart description__card ">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Описание груза <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                                <th>Особенности</th>
                                <th>Упаковка</th>
                                <th>Вес(кг)</th>
                                <th>Обьем(м3)</th>
                                <th>Погрузка</th>
                                <th>Погрузено.кол</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Мешки цемента</td>
                                <td>грязные</td>
                                <td>мешок без палеты</td>
                                <td>1000</td>
                                <td>0.95</td>
                                <td>Задняя</td>
                                <td>50</td>
                            </tr>
                            <tr class="tr__description">
                                <td>Крановые блоки</td>
                                <td>опасный
                                    <br/>
                                    <span>(Класс q)</span>
                                    <br/>
                                    ценный
                                    <br/>
                                    <span>(5000 EUR)</span>
                                    <br/>
                                    негабарит
                                    <br/>
                                    <span>(H=2 W=1 L=15)</span>
                                </td>
                                <td>не упакован
                                    <br/>
                                    Fin-пакет
                                </td>
                                <td>5000</td>
                                <td>2.8</td>
                                <td>Верхняя</td>
                                <td>12</td>
                            </tr>
                            <tr class="sum__description">
                                <td><td>
                                <td></td>
                                <td class="td__sum_active"> <i class="icon__kilogram"></i>Всего : 6000 кг</td>
                                <td class="td__sum_active">3.75 м3</td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
        <div id="panel2" class="tab-pane fade">
            <h3>Панель 2</h3>
            <p>Содержимое 2 панели...</p>
        </div>
        <div id="panel3" class="tab-pane fade">
            <h3>Панель 3</h3>
            <p>Содержимое 3 панели...</p>
        </div>
    </div>

</div>


