<div id="wrapper__sidebar" class="active ">

    <div class="wrapper__item_sidebar">

        <div class="item__sidebar item__sidebar-active">
            <div class="item__sidebar_title">
                <h3>заявка на перевозку № <span class="number__work"> 15-08</span></h3>
            </div>
            <ul class="item__application_list">
                <li class="item_application">
                    <div class="status__application">
                        <span>Новая</span>
                    </div>
                    <div class="item__application_title">
                        <h4>
                            <i class="fa fa-truck" aria-hidden="true"></i>
                            Заказчик
                        </h4>
                    </div>
                    <div class="item__application_name">
                        <span>Альфа Транс Груп, ТОВ</span>
                    </div>
                </li>
                <li class="item_application">
                    <div class="item__application_title">
                        <h4>
                            <i class="fa fa-user" aria-hidden="true"></i>
                            Контактное лицо:
                        </h4>
                    </div>
                    <div class="item__application_name">
                        <span>Данилевский Н.Д.</span>
                        <span>+38 (063) 525 03 02</span>
                    </div>
                </li>
                <li class="item_application">
                    <div class="item__application_title">
                        <h4>
                            <i class="fa fa-money" aria-hidden="true"></i>
                            Сумма по заявке:
                        </h4>
                    </div>
                    <span class="item_application_info">
                    По курсу НБУ на 26.08.2015
                    </span>
                    <div class="item__application_currency">
                        <div class="name__currency">
                            USD  <span class="amount__currency"> 2 900</span>
                        </div>
                        <div class="name__currency">
                            UAH  <span class="amount__currency"> 63 800</span>
                        </div>
                    </div>
                </li>
                <li class="item_application">
                    <div class="item__application_title">
                        <h4>
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            Договор:
                            <span class="contract__name"> LO - 15 - 09</span>
                        </h4>
                    </div>
                </li>
                <li class="item_application">
                    <div class="item__application_title">
                        <h4>
                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                            Статус оплаты:
                            <span class="payment__state not_paid">
                            не оплаченно
                        </span>
                        </h4>
                    </div>
                </li>
            </ul>
        </div>

        <div class="item__sidebar item__sidebar-befault item__sidebar_details">
            <div class="sidebar__details_title">
                <h3>
                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                    <span class="sidebar__details_notifications"> 2 </span> Комментарии к заявке</h3>
            </div>
            <ul class="item__notifications_list">
                <li class="item__notifications">
                    <div class="item__notifications_information">
                        <span class="name__user">Борсучок О.П</span>
                        <span class="data__notice"><time class="data">27.06.2015</time> <time class="time__accurate">07:35</time></span>
                    </div>
                    <div class="item__notifications_description">
                        <p class="text__description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </li>
                <li class="item__notifications">
                    <div class="item__notifications_information">
                        <span class="name__user">Борсучок О.П</span>
                        <span class="data__notice"><time class="data">27.06.2015</time> <time class="time__accurate">07:35</time></span>
                    </div>
                    <div class="item__notifications_description">
                        <p class="text__description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </li>
                <li class="item__notifications">
                    <div class="item__notifications_information">
                        <span class="name__user">Борсучок О.П</span>
                        <span class="data__notice"><time class="data">27.06.2015</time> <time class="time__accurate">07:35</time></span>
                    </div>
                    <div class="item__notifications_description">
                        <p class="text__description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </li>
            </ul>
        </div>

    </div>


    <div class="item__sidebar item__sidebar-befault item__leave_notice ">

        <form class="form__message" >
            <div class="item__sidebar_message">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Message">
                </div>
            </div>

            <div class="item__sidebar_sending">
                <div class="sending__files">
                    <div class="add__files">
                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                        <input type="file" class="form-control">
                    </div>
                    <div class="add__user">
                        <button type="button" class="btn btn-default btn__add_user">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>


                <div class="wrapper__btn_submit">
                    <button type="submit" class="btn btn-default">Отправить</button>
                </div>
            </div>

        </form>

    </div>

</div>